@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap');

/* font-family: 'Lemonada', cursive; */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lemonada', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #0e1538;
}

.container{
    width: 50%;
    margin-top: 20px;
}

.container h1{
    width: 100%;
    color: #00ccff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.serverText{
    color:#d400d4;
    text-transform: capitalize;
}

.container .row100{
    position: relative;
    width: 100%;
}

.container .row100 .col{
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #00ccff;
}

.container .row100 .inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .inputBox .text{
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text
{
    top: -35px;
    left: -10px;
}

.container .row100 .inputBox .line{
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    background: #00ccff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line
{
    height: 100%;
}

input[type="submit"]{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #00ccff;
    color: #000;
    font-size: 18px;
    border:1px solid #00ccff ;
    border-radius: 2px;
    transition: 0.5s;
}

input[type="submit"]:hover{
    border:1px solid #00ccff ;
    background:#0e1538;
    color: #00ccff;
}

/* media queries fro form */

@media only screen and (max-width: 840px){
    .container{
        width: 80%;
    }
    .container h1{
        font-size: 32px;
        margin-bottom: 6px;
    }
}

/* form block ends here  */

/* card block starts here  */

section{
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    padding: 50px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.box{
    position: relative;
    width: 250px;
    height: 250px;
    background:#fff;
    margin: 26px;
}

.box::before{
    content:'';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background:linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
}

.box::after{
    content:'';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    transform: skewX(2deg) skewY(4deg);
    background:linear-gradient(315deg,#00ccff,#0e1538,#d400d4);
    filter: blur(30px);
}

.box .card{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #0e1538;
    z-index: 10;
}

.box .card h3{
    position: absolute;
    top: 22%;
    left: 8%;
    color: #00ccff;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.box .card h4{
    position: absolute;
    top: 42%;
    left: 8%;
    color: #00ccff;
    font-size: 8px;
    line-height: 24px;
    text-transform: uppercase;
}

.box .card span{
    position: absolute;
    bottom: 26%;
    left: 8%;
    color: #00ccff;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.box .card .icons{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.box .card .icons .links{
    display: inline-block;
    margin: 3px;
    padding: 4px 6px;
    color: #d400d4;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

}
/* media queries for card  */

@media only screen and (max-width: 888px){
    .box{
        width: 250px;
        height: 250px;
        margin: 26px;
    }
    .box .card h3{
        font-size: 18px;
        line-height: 28px;
    }
    .box .card h4{
        top: 46%;
        font-size: 9px;
        line-height: 26px;
    }
    .box .card span{
        font-size: 18px;
        line-height: 28px;
    }
}